@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>Polityka prywatności i cookies </h1>

<p>
    Ochrona danych osobowych jest jednym z najważniejszych zagadnień w naszej firmie. Poniższa Polityka prywatności zawiera informacje w jaki sposób przetwarzamy dane osobowe Klienta oraz jak je chronimy.
</p>
Administratorem Państwa danych osobowych jest: sp. z o.o. z siedzibą Krakowie (kontakt: adamskimaksymilian1@gmail.com)
<br />
Przeglądanie zawartości serwisu nie wymaga podawania danych osobowych.
<br />
Dane przekazane nam przez Państwa poprzez wypełnienie formularza dostępnego na naszej stronie są chronione poprzez szyfrowanie z użyciem bezpiecznego protokołu szyfrowania komunikacji SSL (Secure Socket Layer). Dane osobowe podawane w formularzu na stronie www.taniemieszkania.pl są traktowane jako poufne i nie są widoczne dla osób nieuprawnionych. Wypełnienie formularza oznacza zgodę użytkownika na przetwarzanie jego danych osobowych (na co użytkownik wyraża zgodę zaznaczając odpowiedni check box).
<br />
Udzielone zgody są dobrowolne i każdą z nich można wycofać w każdym czasie.
Państwa dane osobowe będziemy przetwarzać w okresie odpowiednim dla przedstawiania ofert handlowych, prowadzenia działań zmierzających do zawarcia i wykonania ewentualnych umów, a także prowadzenia działań marketingowych.
<br />
Odbiorcami Państwa danych osobowych są podmioty działające z na zlecenie Administratora, w szczególności podmioty podejmujące czynności wymagające przetwarzania danych osobowych w celach: przedstawiania ofert handlowych, podejmowania działań zmierzających do zawarcia i wykonania ewentualnych umów, prowadzenia działań marketingowych. Odbiorcami Państwa danych osobowych będą również podmioty powiązane z Administratorem kapitałowo lub osobowo.
<br />
Mają Państwo prawo do żądania od Administratora dostępu do treści swoich danych, ich sprostowania, usunięcia, ograniczenia przetwarzania, a także wniesienia sprzeciwu wobec przetwarzania. Są Państwo uprawnieni do przenoszenia danych oraz wniesienia skargi do organu nadzorczego - Prezesa Urzędu Ochrony Danych Osobowych. Mają Państwo prawo wycofać wyrażoną zgodę na przetwarzanie danych osobowych. W celu realizacji powyższych praw prosimy o kontakt z Administratorem.
<br />
Cookies

<p>
    <h1>Serwis zbiera w sposób automatyczny tylko informacje zawarte w plikach cookies.</h1>
    Pliki cookies są plikami tekstowymi, które przechowywane są w urządzeniu końcowym użytkownika serwisu. Przeznaczone są do korzystania ze stron serwisu. Zawierają m.in. nazwę strony internetowej, unikalny numer IP, czas przechowywania na urządzeniu końcowym.<br />
    Operator serwisu - sp. z o. o., jest podmiotem zamieszczającym na urządzeniu końcowym użytkownika pliki cookies oraz mającym do nich dostęp.<br />
    Operator serwisu wykorzystuje pliki cookies w celu:<br />
    dopasowania zawartości strony internetowej do indywidualnych preferencji użytkownika, przede wszystkim pliki te rozpoznają jego urządzenie, aby zgodnie z jego preferencjami wyświetlić stronę;<br />
    przygotowywania statystyk pomagających poznaniu preferencji i zachowań użytkowników, analiza tych statystyk jest anonimowa i umożliwia dostosowanie zawartości i wyglądu serwisu do panujących trendów, statystyki stosuje się też do oceny popularności strony;<br />
    dostosowania treści reklamowych w formie graficznej przy wykorzystaniu remarketingu Google Analytics.<br />
    Serwis stosuje dwa zasadnicze rodzaje plików cookies - sesyjne i stałe. Pliki sesyjne są tymczasowe, przechowuje się je do momentu opuszczenia strony serwisu (poprzez wejście na inną stronę, wylogowanie lub wyłączenie przeglądarki). Pliki stałe przechowywane są w urządzeniu końcowym użytkownika do czasu ich usunięcia przez użytkownika lub przez czas wynikający z ich ustawień.<br />
    Użytkownik może w każdej chwili dokonać zmiany ustawień swojej przeglądarki, aby zablokować obsługę plików cookies lub każdorazowo uzyskiwać informacje o ich umieszczeniu w urządzeniu. Inne dostępne opcje można sprawdzić w ustawieniach przeglądarki internetowej. Należy pamiętać, że większość przeglądarek domyślnie jest ustawione na akceptację zapisu plików cookies w urządzeniu końcowym.<br />
    Operator serwisu informuje, że zmiany ustawień w przeglądarce internetowej użytkownika mogą ograniczyć dostęp do niektórych funkcji strony internetowej serwisu.<br />
    Informacje dotyczące ustawień przeglądarek internetowych dostępne są w menu (zakładka pomoc) lub na stronie producenta. Szczegółowe informacje na temat plików cookies dostępne są na stronie http://wszystkoociasteczkach.pl/<br />
    Dane, które gromadzimy zamieszczone są w bezpiecznym systemie informatycznym na dedykowanych serwerach posiadających zabezpieczenia wymagane przez przepisy o ochronie danych osobowych.<br />
    Więcej o tym w jaki sposób Google korzysta z danych ze stron internetowych znajdziesz TUTAJ<br />
</p>

W razie dodatkowych pytań lub informacji prosimy o kontakt z nami pod adresem mailowym adamskimaksymilian1@gmail.com
