@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    Proszę sprawdź swoją skrzynkę e-mail, aby zresetować hasło.
</p>
